<app-mobile-header></app-mobile-header>
<div class="feed">
    <div class="search">
        <app-search (searchTerm)="onSearchChange($event)"></app-search>
    </div>
    <div class="categories">
        @for(cat of categories; track cat) {
        <button [class.active]="cat === selectedCategory" (click)="selectCategory(cat)">
            {{ cat }}
        </button>
        }
    </div>
    <div class="openings">
        <div class="filters">
            <h2>Filters</h2>
            <mat-form-field>
                <mat-label>Location</mat-label>
                <input type="text"
                    aria-label="Number"
                    matInput
                    [formControl]="locControl"
                    [matAutocomplete]="locAuto">
                <mat-autocomplete autoActiveFirstOption #locAuto="matAutocomplete" (optionSelected)="selectLocation($event)">
                    @for (loc of locationsObservable | async; track loc) {
                        <mat-option class="custom-option" [value]="loc">{{loc}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Role</mat-label>
                <input type="text"
                    aria-label="Number"
                    matInput
                    [formControl]="roleControl"
                    [matAutocomplete]="roleAuto">
                <mat-autocomplete autoActiveFirstOption #roleAuto="matAutocomplete" (optionSelected)="selectRole($event)">
                    @for (role of rolesObservable | async; track role) {
                        <mat-option class="custom-option" [value]="role">{{role}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>
            <div class="filter-buttons">
                <button [disabled]="selectedLocation=='' || selectedRole==''" class="primary-btn" (click)="applyFilters()">apply</button>
                <button [disabled]="selectedLocation=='' || selectedRole==''" class="clearbtn" (click)="clearFilters()">clear</button>
            </div>
        </div>
        @if(filterData.length === 0) {
            <div class="no-results">
                <p>No Openings</p>
            </div>
        } @else {
            <div class="jobs">
                @for(job of filterData; track job) {
                    <!-- <app-jobcard [data]="job"/> -->
                }
            </div>
        }
        <div class="posts">

        </div>
    </div>
</div>
