<!-- Desktop Sidebar -->
<nav class="sidenav desktop">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" name="Home">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/feed" routerLinkActive="active" name="search">
        <mat-icon>work</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/messages" routerLinkActive="active" name="Messages">
        <mat-icon>email</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active" name="Profile">
        <mat-icon>person</mat-icon>
      </a>
    </li>
  </ul>
  <a routerLink="/home">
    <img src="logo.png" alt="logo">
  </a>
  <div class="logout" (click)="signOut()">
    <mat-icon>logout</mat-icon>
  </div>
</nav>

<!-- Mobile Bottom Nav -->
<nav appScrollHide class="sidenav mobile">
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <mat-icon>home</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/feed" routerLinkActive="active">
        <mat-icon>work</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/messages" routerLinkActive="active">
        <mat-icon>email</mat-icon>
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active">
        <mat-icon>person</mat-icon>
      </a>
    </li>
  </ul>
</nav>
