.container {
  background-color: #0f0f0f;
  .common-btn {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 25px;
    left: 90%;
  }

  form {
    margin: 0;
    background-color: #0f0f0f;
    padding: 20px;
    mat-form-field {
      width: 100%;
    }
    h2 {
      margin: 0;
    }

    .action-btn {
      display: flex;
      justify-content: end;
      .primary-btn {
        align-self: end;
      }
    }
  }
}
