<div class="container">
  <button class="common-btn" (click)="onClose()"><mat-icon>close</mat-icon></button>
  <form [formGroup]="achForm" (submit)="onSubmit()">
    <h2>Achievement</h2>
    <mat-form-field>
      <mat-label>Category</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="category">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Year</mat-label>
      <input 
        matInput 
        type="number"
        formControlName="year">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event Name</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="event">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Event Location</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="eventLocation">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Film Title</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="filmTitle">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Verify Link</mat-label>
      <input 
        matInput 
        type="text"
        formControlName="verificationLink"
        required>
    </mat-form-field>

    <div class="action-btn">
      <button class="primary-btn" type="submit">
        Save
      </button>
    </div>
  </form>
</div>