<div class="desktop">
    <div class="container" (click)="navigateToProfile()">
        <img [src]="profile.avatarUrl" alt="dp">
        <h2>{{ profile.name }}</h2>
        <hr/>
        <div class="connections">
            <div class="links">
                <b>{{ profile.links }}</b>
                <p>links</p>
            </div>
            <div class="exp">
                <b>{{ profile.experiences }}</b>
                <p>experiences</p>
            </div>
        </div>
    </div>
</div>