<div class="container">
    <mat-card class="post-card">
        <!-- Header -->
        <mat-card-header class="header">
            <div mat-card-avatar class="avatar" [ngStyle]="{'background-image': 'url(' + post.avatarUrl + ')'}"></div>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle class="subtitle">{{ post.subtitle }}</mat-card-subtitle>
        </mat-card-header>

        <!-- Media Content -->
        <div class="media-wrapper" (dblclick)="incrementLikeCount()">
        @switch (post.mediaType) {
            @case ('Image') {
            <img [src]="post.mediaUrl" alt="Post image" class="media-content" />
            }
            @case ('Video') {
            <video class="media-content" controls>
                <source [src]="post.mediaUrl" type="video/mp4" />
                Your browser does not support the video tag.
            </video>
            }
            @case('Youtube') {
                <iframe 
                    width="560" 
                    height="315" 
                    [src]="sanitizedYouTubeUrl" 
                    title="Varanasi Movie Trailer" frameborder="0" allowfullscreen>
                </iframe>
            }
            @case ('Article') {
            <div class="article-content">
                {{ post.articleText }}
            </div>
            }
        }
        </div>

        <!-- Actions -->
        <mat-card-actions class="actions">
            <div class="icon">
                @if(post.isLiked) {
                <button mat-icon-button (click)="likePost()">
                    <mat-icon class="red-heart-icon">favorite</mat-icon>
                </button>
                } @else {
                <button mat-icon-button (click)="likePost()">
                    <mat-icon>favorite_border</mat-icon>
                </button>
                }
                <p>{{ post.likesCount }}</p>
            </div>
            <div class="icon">
                <button mat-icon-button (click)="commentInput.focus()">
                    <mat-icon svgIcon="messaging"></mat-icon>
                </button>
                <p>{{ post.commentsCount }}</p>
            </div>
            <div class="icon">
                <button mat-icon-button>
                    <mat-icon svgIcon="forward"></mat-icon>
                </button>
                <p>{{ post.sharesCount }}</p>
            </div>
        </mat-card-actions>

        <!-- Description -->
        <mat-card-content class="description">
            <p [class.collapsed]="!isExpanded(post.id)">
                <b>{{ post.title }}</b>
                @if(!isExpanded(post.id)) {
                    @if(isLongDescription(post)) {
                        {{ getShortDescription(post) }}
                    } @else {
                        {{ post.description }}
                    }
                } @else {
                    {{ post.description }}
                }
                @if(isLongDescription(post)) {
                    <button class="see-more" (click)="toggleExpand(post.id)">
                        {{ isExpanded(post.id) ? 'See less' : 'See more' }}
                    </button>
                }
            </p>
            <p class="timestamp">{{ post.timestamp | timeAgo }}</p>
        </mat-card-content>

        <!-- Comment Input -->
        <div class="comment-box">
            <input #commentInput type="text" placeholder="Add a comment...."/>
            <button class="post-btn" (click)="sendComment()">comment</button>
        </div>
    </mat-card>
</div>