.container {
    margin-left: 60px;
    display: flex;
    gap: 40px;
    padding: 20px;
    justify-content: center;

    .scroll-top-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 1000;
        mat-icon {
            color: white !important;
            margin: 5px;
        }
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        margin: 0;
        padding: 0;
        .content {
            padding-top: 60px;
            gap: 20px;
        }
        .notify-section {
            display: none;
        }
        .scroll-top-btn {
            display: none;
        }
    }
}

@media (min-width: 550px) {
    app-mobile-header {
        display: none;
    }
}