.profile-container {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 3fr 7fr;

    .profile-left {
        margin: 50px 0px 0px 50px;
        padding: 30px;
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .profile-picture {
            width: 130px;
            height: 130px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 20px;
        }

        .brief {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: left;
            background-color: #0f0f0f;
            border-radius: 4px;
            padding: 20px;

            h2 {
                margin-top: 0;
            }

            .project-count {
                display: flex;
                align-items: center;
                gap: 4px ;
                b {
                    background-color: royalblue;
                    width: fit-content;
                    height: fit-content;
                    border-radius: 2px;
                    padding: 4px;
                }   
            }

            .pskill-box {
                display: flex;
                gap: 4px;
                .p-skill {
                    background-color: royalblue;
                    border-radius: 8px;
                    padding: 4px;
                    width: fit-content;
                    font-size: small;
                }
            }
        }
    }

    .profile-content {
        flex: 1;
        border-radius: 4px;
        margin: 30px;
        height: 90vh;
        display: flex;
        flex-direction: column;

        .category {
            display: flex;
            justify-content: space-around;

            button {
                width: 100%;
                cursor: pointer;
                background: none;
                border: none;
                padding: 20px;
                font-weight: bold;
                border: 2px solid black;

                &:hover,
                &.active {
                    background-color: #333333;
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }

        .posts {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4px;

            img {
                width: 100%;
                height: 300px;
                border-radius: 4px;
                object-fit: cover;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .about {
            background-color: none;
            display: flex;
            flex-direction: column;
            gap: 20px;

            button {
                cursor: pointer;
                background: none;
                border: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .profile-container {
        margin: 0;
        margin-top: 60px;
        grid-template-columns: 1fr;

        .profile-left {
            margin: 0px;
            padding: 0px;
            display: flex;
            flex-direction: column;
            .profile-picture {
                margin: 15px 0px 10px 0px;
                padding: 0;
            }
            .brief {
                width: 100%;
                background: none;
                margin: 0px;
                padding: 0px;
                h2, p, .pskill-box {
                    margin: 0;
                    padding: 5px;
                    padding-left: 10px;
                }
            }
        }

        .profile-content {
            margin: 5px 0px 0px 0px;
            padding: 0px;
            height: fit-content;
            .posts {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                img {
                    width: 100%;
                    height: 180px;
                    border-radius: 4px;
                    object-fit: cover;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

@media (min-width: 550px) {
    app-mobile-header {
        display: none;
    }
}