.profile-container {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 3fr 7fr;

    .profile-content {
        flex: 1;
        border-radius: 4px;
        margin: 30px;
        height: 90vh;
        display: flex;
        flex-direction: column;

        .category {
            display: flex;
            justify-content: space-around;

            button {
                width: 100%;
                cursor: pointer;
                background: none;
                border: none;
                padding: 20px;
                font-weight: bold;
                border: 2px solid black;

                &:hover,
                &.active {
                    background-color: #333333;
                    opacity: 0.7;
                    cursor: pointer;
                }
            }
        }

        .posts {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 4px;

            img {
                width: 100%;
                height: 300px;
                border-radius: 4px;
                object-fit: cover;
                box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease;
                will-change: transform;

                &:hover {
                    opacity: 0.5;
                    transform: scale(1.05);
                }
            }
        }

        .about {
            background-color: none;
            display: flex;
            flex-direction: column;
            gap: 20px;

            button {
                cursor: pointer;
                background: none;
                border: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .profile-container {
        margin: 0;
        margin-top: 60px;
        grid-template-columns: 1fr;

        .profile-content {
            margin: 5px 0px 0px 0px;
            padding: 0px;
            height: fit-content;
            .posts {
                display: grid;
                grid-template-columns: repeat(3, 1fr);

                img {
                    width: 100%;
                    height: 180px;
                    border-radius: 4px;
                    object-fit: cover;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

@media (min-width: 550px) {
    app-mobile-header {
        display: none;
    }

    app-profile-info {
        margin: 40px;
    }
}