.skills {
    background-color: #0b0b0b;
    border-radius: 4px;
    padding: 10px;

    .skill-action-btns {
        display: flex;
        gap: 10px;
    }

    .skill-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .skill-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        p {
            color: #dcdcdc;
            line-height: 1.4;
            font-size: 14px;
        }
        .skill-chip {
            background-color: royalblue;
            padding: 5px;
            border-radius: 8px;
            color: white;
            p {
                font-size: small;
                font-weight: bold;
                margin: 0;
            }
            &:hover {
                cursor: pointer;
                background-color: #4169e1;
            }
        }
    }
}