.skills {
    background-color: #0b0b0b;
    border-radius: 4px;
    padding: 10px;

    .skill-action-btns {
        display: flex;
        gap: 10px;
    }

    .skill-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .skill-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        p {
            color: #dcdcdc;
            line-height: 1.4;
            font-size: 14px;
        }
        .skill-chip {
            display: flex;
            align-items: center;
            justify-content: center;
            // background-color: #1e1e1e;
            border: 1px solid #333;
            padding: 5px;
            border-radius: 4px;
            color: white;
            gap: 4px;
            p {
                font-size: medium;
                font-weight: bold;
                margin: 0;
            }
            button {
                margin: 0;
                padding: 0;
                mat-icon {
                    margin-top: 4px;
                }
            }
        }
    }
}