<div class="exp-container">
    <div class="exp-header">
        <h3>Add Experience</h3>
        <button (click)="addExperience()"><mat-icon>add</mat-icon></button>
    </div>
    <div class="experiences">
        @if(experiences.length===0) {
            <p class="empty-exp-info">No experience added yet. Click the + button to add achievement.</p>
        } @else {
            @for(exp of experiences; track exp.id) {
                <div class="experience">
                    <div class="header">
                        <h3>{{ exp?.projectTitle }}</h3>
                        <div class="exp-actions">
                            <button (click)="deleteExperience(exp)"><mat-icon>delete</mat-icon></button>
                            <button (click)="openExperience(exp.id)"><mat-icon>edit</mat-icon></button>
                        </div>
                    </div>
                    <div class="sub-header">
                        <p>{{ exp?.productionCompany }} . {{ exp?.productionType }}</p>
                        <p>{{ exp?.location }}</p>
                    </div>
                    <div class="meta">
                        <p class="role">{{ exp.role }}</p> - 
                        <p>
                            {{ exp?.startDate | date:'mediumDate' }} - {{ exp?.endDate | date: 'mediumDate' }}
                        </p>
                    </div>
                    <div class="description">
                        @if(exp.description) {
                            <p class="desc" [class.collapsed]="!isExpanded(exp.id)">
                            @if(!isExpanded(exp.id)) {
                                @if(isLongDescription(exp)) {
                                    {{ getShortDescription(exp) }}
                                } @else {
                                    {{ exp.description }}
                                }
                            } @else {
                                {{ exp.description }}
                            }
                            @if(isLongDescription(exp)) {
                                <button class="see-more" (click)="toggleExpand(exp.id)">
                                    {{ isExpanded(exp.id) ? 'See less' : 'See more' }}
                                </button>
                            }
                            </p>
                        } @else {
                            <p [style.color]="'gray'">
                                Describe your work in the project
                            </p>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>