.profile {
    display: flex;
    flex-direction: column;
    .images {
        display: flex;
        flex-direction: column;
        /* background image will be set inline from the component: [style.background-image] */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 40px;
        max-height: 150px;
        border-radius: 4px;

        .profile-picture {
            width: 130px;
            height: 130px;
            object-fit: cover;
            border-radius: 100%;
            position: relative;
            top: 50px;
            left: 20px;
            box-shadow: 0 2px 6px rgba(0,0,0,0.2);
            border: 2px solid #fff;
        }
    }

    .brief {
        padding: 10px;
        h2, p, b {
            margin: 0;
            letter-spacing: 1px;
        }
        b {
            color: royalblue;
        }
    }

    .details {
        padding: 10px 0px;
        font-size: small;
        .detail {
            color: gray;
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .connections {
        display: flex;
        padding: 10px 0px;
        gap: 10px;

        .links, .exp {
            display: flex;
            gap: 5px;
            align-items: center;
            p {
                letter-spacing: 2px;
                font-size: small;
                color: grey;
            }
            a, b {
                text-decoration: none;
                color: white;

                &:hover{
                    color: royalblue;
                }
            }
        }
    }
}

@media (min-width: 550px) {
    .images {
        border-radius: 4px;
    }
}